@font-face {
    font-family: 'alegreya';
    src: url('../../fonts/alegreya/AlegreyaSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oldfenris';
    src: url('../../fonts/oldfenris/oldfenris.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}