@mixin button($bg-color, $text-color, $border-color){
    background-color: $bg-color;
    color: $text-color;
    border: 1px solid $border-color;
    padding: 1rem;
    border-radius: 3px;
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
}

@mixin link($link-color, $txt-decoration){
    color: $link-color;
    text-decoration: $txt-decoration;
    display: inline-block;
    padding: 0.5rem;
}