$text-color: rgb(216, 216, 216);
$title-color: #D2C8AE;
$button-color: rgb(141, 0, 0);
$background-color-1: #181818;
$background-color-2: #1D0202;
$background-color-3: #000000;
$title-font: 'oldfenris', sans-serif;
$text-font: 'alegreya', sans-serif;