// @use ne fctionne pas
@import 'fontface';
@import 'variables';
@import 'mixins';
@import 'general';
@import 'header';
@import 'apropos';
@import 'galerie';
@import 'statistique';
@import 'heros';
@import 'voscommentaires';
@import 'footer';
@import 'confirmation';


@media screen and (min-width: 960px){
    .container{
        width: 90%;
        max-width: 1600px;
        margin: 0 auto;
    }
}
